/* Font Gilory */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: regular;
  src: local("Gilroy-Regular"), url("Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: light;
  src: local("Gilroy-Light"), url("Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: medium;
  src: local("Gilroy-Medium"), url("Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
}
/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
:root {
  --primary-color: #141414;
  --secondary-color: #0065fe;
  --font-color: #fff;
  --bg-color: #f9fbfd;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.wrapper {
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* list and anchor tag */
li,
a {
  text-decoration: none;
  list-style: none;
}

/* Buttons */
.btns-flex {
  display: flex;
  gap: 1rem;
}

.btn {
  display: inline-block;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btns-justify {
  justify-content: center;
}

.btn-primary {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 1px solid var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

/* Border left */
.border-left {
  border-left: 5px solid var(--secondary-color);
  border-image: linear-gradient(
      to bottom,
      var(--primary-color),
      var(--bg-color)
    )
    1;
  padding-left: 0.5rem;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
}

.nav-logo img {
  width: 16px;
}

.nav-menu {
  display: none;
}

.nav-menu li a {
  color: var(--primary-color);
}

.nav-menu li a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  text-align: center;
  max-width: 950px;
  margin: 2rem auto;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
}

.hero h1 span {
  color: var(--secondary-color);
}

.hero-paint {
  width: 100px;
}

.hero p {
  line-height: 28px;
  margin-bottom: 1rem;
  padding: 1rem 3rem;
}

.hero-image-container {
  max-width: 200px;
  margin: 0 auto;
}

.hero-image {
  background: linear-gradient(90deg, #edf1f5 10%, #fefefe 100%);
  border: 1px solid #005ae2;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.image-circle {
  width: 100%;
}

/* Stats Section */
.stats {
  box-shadow: 0 1px 4px rgba(192, 49, 49, 0.1);
  padding: 2rem;
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.stats-header h2 {
  font-weight: bold;
  font-size: 2rem;
}

.stats h2 span {
  color: var(--secondary-color);
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.stat-item h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* Features */
.features {
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.features-header h2 {
  font-size: 2rem;
}

.features-header h2 span {
  color: var(--secondary-color);
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.feature-card {
  background: var(--bg-color);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.feature-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.feature-card img {
  width: 46px;
}

.feature-card h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* Pricing */
.pricing {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing-header {
  /* padding: 2rem 25rem; */
}

.pricing-header h2 {
  font-weight: bold;
  font-size: 2rem;
}

.pricing-header span {
  color: var(--secondary-color);
}

.pricing-grid {
  display: grid;
  margin-top: 5rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.pricing-card {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 1.5rem 5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.pricing-card.featured {
  background-color: #1e3448;
  color: white;
}

.pricing-card.featured:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.pricing-card .price-header {
  font-size: 1.2rem;
  font-weight: medium;
  margin-bottom: 10px;
}

.pricing-card .price {
  font-size: 1.5rem;
  font-weight: bold;
}
.pricing-card ul {
  margin-top: 10px;
}

.pricing-card ul li img {
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
}

.pricing-card ul li {
  margin-bottom: 10px;
}

/* Form Section */
.signup-form {
  padding: 2rem 1rem;
  background: linear-gradient(180deg, #1e3448 0%, #1e3448 100%);
  color: white;
  position: relative;
  overflow: hidden;
}

.signup-form img {
  width: 700px;
  height: 400px;
}

.signup-form img.form-bg1,
.signup-form img.form-bg2 {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.signup-form img.form-bg1 {
  left: -15px;
  top: 0;
}

.form-container {
  margin: 0 auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.input-full-row {
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #3284ff;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.input-field::placeholder {
  color: #3284ff;
}

.input-field:focus {
  border-color: #3284ff;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.select-field {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #3284ff;
  border-radius: 10px;
  font-size: 1rem;
  color: #3284ff;
  cursor: pointer;
  appearance: none;
  background-image: url("../image/chevron-down-solid-240.png");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.select-field {
  outline: #3284ff;
}

.trim-btn {
  width: 100%;
  padding: 0.75rem;
  color: white;
  font-weight: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.2s;
}

.trim-btn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../image/magic-wand.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.terms-text {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #3284ff;
  text-align: center;
}

.terms-text a {
  color: #3284ff;
}

.terms-text a:hover {
  text-decoration: underline;
}

.signup-form img.form-bg2 {
  right: -15px;
  bottom: 0;
}

/* FAQ Section */
.faq {
  text-align: justify;
  justify-self: center;
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
}

.faqs h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

details {
  width: 80%;
  margin: 0 auto;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "+";
  font-size: 1.5rem;
  transition: transform 0.2s ease;
  margin-left: 1rem;
}

details[open] summary::after {
  content: "-";
}

.faq-content {
  padding: 0 0 1rem;
  color: #666;
}

/* Rev */
.rev {
  padding: 4rem 1rem;
  background: linear-gradient(180deg, #1e3448 0%, #1e3448 100%);
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.rev img {
  width: 250px;
  height: 250px;
}

.rev img.rev-bg1,
.rev img.rev-bg2 {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.rev img.rev-bg1 {
  left: -15px;
  top: -60px;
}

.rev h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.rev img.rev-bg2 {
  right: -15px;
  bottom: -60px;
}

/* Footer */
.footer {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 1200px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer-terms {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer-terms ul {
  display: flex;
  gap: 0.5rem;
}

.footer-terms ul .border-line {
  border-right: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

/* Media Queries */
@media (min-width: 768px) {
  /* General */
  .btn {
    padding: 6px 20px;
  }

  .nav-logo {
    font-size: 24px;
  }
  .nav-logo img {
    width: 24px;
  }

  .nav-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  /* Hero Section */
  .hero h1 {
    font-size: 3rem;
    line-height: 96px;
  }

  .hero-paint {
    width: 150px;
  }

  .hero p {
    font-size: 1.125rem;
    padding: 1rem 7rem;
  }

  .hero-image-container {
    max-width: 550px;
  }

  .hero-image {
    margin-top: 3rem;
  }

  /* Stats Section */
  .stats-container {
    grid-template-columns: 275px 1fr;
    gap: 2rem;
    align-items: baseline;
  }

  .stats-header h2 {
    font-size: 2.5rem;
  }

  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .stat-item h3 {
    font-size: 2rem;
  }

  /* Features */
  .features {
    grid-template-columns: 400px 1fr;
    align-items: baseline;
  }

  .features-header h2 {
    font-size: 2.5rem;
  }

  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-card img {
    width: 56px;
  }

  .feature-card h3 {
    font-size: 2rem;
  }

  /* Princing */
  .pricing-header {
    text-align: center;
    padding: 2rem 18rem;
  }

  .pricing-header h2 {
    font-size: 2.5rem;
  }

  .pricing-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0;
    margin-bottom: 5rem;
  }

  .pricing-card.featured {
    transform: scale(1.15);
  }

  /* FAQs Sction */
  .faq {
    margin: 5rem auto;
  }
  .faq h2 {
    font-size: 2.5rem;
  }

  details {
    width: 100%;
  }

  .rev img {
    width: 400px;
    height: 250px;
  }

  .rev h2 {
    font-size: 2.5rem;
  }

  /* Footer */
  .footer {
    margin-top: 5rem;
  }

  .footer-grid {
    grid-template-columns: 250px 1fr;
  }

  .items-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-terms {
    justify-content: center;
  }
}
